nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.logo {
  height: 46px;
  width: 100%;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
}

nav.menu ul.desctop-menu {
  margin: 0;
  padding: 0;
  display: none;
}
nav.menu ul.desctop-menu li {
  text-align: left;
}
nav.menu ul.desctop-menu li a {
  padding: .7em 1.5em;
  display: block;
  height: 46px;
}
nav.menu ul.desctop-menu li a:hover {
  background-color: #E5AA38;
}
nav.menu ul.desctop-menu li a:focus {
  background-color: #E5AA38;
}
ul.desctop-menu {
    display: block;
}
ul.submenu {
    display: none;
    background-color: #4c708b;
}

ul.desctop-menu > li:hover > ul.submenu {
  display: block;
  position: absolute;
  z-index: 1;
  width: 300px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #2e4050;
}
[aria-hidden="false"] {
  display: block;
}
@media screen and (min-width: 768px) {
  nav.menu ul.desctop-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: -46px;
    float: right;
  }
  nav.menu ul.desctop-menu li {
    text-align: center;
  }
}
  


