article
	padding: 0 20px
	a:hover, active
		text-decoration: underline
		color: #23527c
.opty
    max-width: 100%
    display: block
    margin: 0 auto
.foc
	width: 150px 
	cursor:pointer
	display:inline
	&:focus
		width: auto
		z-index: 100

.pic-right
	display: block
	margin: 0 auto
.green
	color: green
.red
	color: red
.italic
	font-style: italic
.img-responsive
	display: block
	max-width: 100%
	height: auto

@media screen and (min-width: 768px)
	.articles-page
		grid-column: 1/2




