@import "vars"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $font-main
	overflow-x: hidden
	opacity: 1
	background-color: $bg
a
	text-decoration: none

ul
	list-style: none
li
	margin-left: -30px
h1
	font-size: 1.5em
	text-align: center

.text-center
	text-align: center

.button
	display: grid
	border: none
	color: #fff
	text-decoration: none
	background-color: $headfoot
	padding: 0 15px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	transition: background-color .1s ease
	cursor: pointer
	height: 30px
	align-self: center
	align-items: center
	justify-self: center

.border-shadow
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,1)
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,1)
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,1)

.border-radius
	border-radius: 9px

.bold
	font-weight: bold
.small-text
	font-size: 12px




.dropbtn:hover, .dropbtn:focus
    background-color: #1d315b

.dropdown
    position: relative
    display: inline-block

.dropdown-content
    display: none
    width: 100%
    position: relative
    background-color: #f9f9f9
    overflow: auto
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)

.dropdown-content
	a:hover
		background-color: #f1f1f1

.show
	display: block