@import "vars"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

html, body
	color: $text-color
body
	font-size: 16px
	line-height: 1.4
	font-family: 'Roboto'
	background-color: $bg
a
	text-decoration: none
	color: $link-color
nav
	background-color: $menu
nav ul li a
	color: $text-white
ul
	list-style: none
ul.line
	list-style: circle
h1
	text-align: center
	margin: 0
	font-size: 1.5rem
h2
	font-size: 1.1rem
h3
	font-size: 1.0rem
.text-center
	text-align: center
.my-5
	margin: 30px
.mt-3
	margin-top: 30px
.mt-2
	margin-top: 20px
.mt-5
	margin-top: 50px
.my-2
	margin: 20px 0
.mb-1
	margin-bottom: 10px
.no-bottom-margin
	margin-bottom: 0
.minus-margin
	padding: -20px -20px 0 0
small
	font-size: 14px
.border-shadow
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
.border-radius
	border-radius: 5px
.bold-mark
	font-weight: bold
.bold li
	font-weight: bold
.text-uppercase
	text-transform: uppercase
	font-size: 1.2rem
	display: block
	margin-bottom: 10px
.link-underline:hover
	text-decoration: underline
.container
	height: 100%
	display: flex
	flex-direction: column

.main-block
	flex-grow: 1
	flex-shrink: 0
	flex-bass: auto

.dropbtn:hover, .dropbtn:focus
    background-color: #1d315b

.dropdown
    position: relative
    display: inline-block

.dropdown-content
    display: none
    width: 100%
    position: relative
    background-color: #f9f9f9
    overflow: auto
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)

.dropdown-content
	a:hover
		background-color: #f1f1f1
.show
	display: block

.hvr-fade
	display: inline-block
	vertical-align: middle
	-webkit-transform: perspective(1px) translateZ(0)
	transform: perspective(1px) translateZ(0)
	box-shadow: 0 0 1px transparent
	overflow: hidden
	-webkit-transition-duration: 0.3s
	transition-duration: 0.3s
	-webkit-transition-property: color, background-color
	transition-property: color, background-color

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active
	background-color: $table-hover
	color: white

/* Grow */
.hvr-grow
	display: inline-block
	vertical-align: middle
	-webkit-transform: perspective(1px) translateZ(0)
	transform: perspective(1px) translateZ(0)
	box-shadow: 0 0 1px transparent
	-webkit-transition-duration: 0.3s
	transition-duration: 0.3s
	-webkit-transition-property: transform
	transition-property: transform

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active
	-webkit-transform: scale(1.1)
	transform: scale(1.1)
.form-control
	display: block
	width: 100%
	padding: 0.5rem 0.75rem
	font-size: 1rem
	line-height: 1.25
	color: #495057
	background-color: #fff
	background-image: none
	background-clip: padding-box
	border: 1px solid rgba(0, 0, 0, 0.15)
	border-radius: 0.25rem
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
	.form-control::-ms-expand
		background-color: transparent
		border: 0
	.form-control:focus
		color: #495057
		background-color: #fff
		border-color: #80bdff
		outline: none
	.form-control::placeholder
		color: #868e96
		opacity: 1
	.form-control:disabled, .form-control[readonly]
		background-color: #e9ecef
		opacity: 1

