.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $headfoot
	padding: 8px 25px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 1px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($headfoot, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($headfoot, 5%)
		&::after
			opacity: .32