.container-2
	padding: 20px
	margin: 0 auto
	display: grid
	max-width: 1024px
	.group
		max-width: 550px
		margin: 50px auto
	.container-tables
		display: flex
		flex-direction: column
	.h2-bg
		width: 100%
		padding: 5px
		background-color: $bg-h1
		color: $text-white
	.resalt
		font-size: 15px
	table thead tr td
		border-top: none
		text-align: center
		a
			color: $text-color
		a:hover
			text-decoration: underline
	table td, table th
		padding: .45rem
		vertical-align: middle
	table tbody tr:hover
		background-color: $table-hover
	.qouta
		background-color: #f8f8f8
	.border-blocks
		height: 5px
		width: 100%
		margin: 20px 0
		background-color: #d8e0e3
	.pic-lang
		width: 7%
		background-image: url('/img/lang/svg/vu.svg')
		background-repeat: no-repeat
		background-position: 50%
		background-size: contain
	.russia
		background-image: url('/img/lang/svg/ru.svg')
	.urugvai
		background-image: url('/img/lang/svg/uy.svg')
	.egipt
		background-image: url('/img/lang/svg/eg.svg')
	.sa
		background-image: url('/img/lang/svg/sa.svg')
	.portugal
		background-image: url('/img/lang/svg/pt.svg')
	.spain
		background-image: url('/img/lang/svg/es.svg')
	.marocco
		background-image: url('/img/lang/svg/ma.svg')
	.iran
		background-image: url('/img/lang/svg/ir.svg')
	.france
		background-image: url('/img/lang/svg/fr.svg')
	.dania
		background-image: url('/img/lang/svg/dk.svg')
	.peru
		background-image: url('/img/lang/svg/pe.svg')
	.australia
		background-image: url('/img/lang/svg/au.svg')
	.crovatia
		background-image: url('/img/lang/svg/hr.svg')
	.islind
		background-image: url('/img/lang/svg/is.svg')
	.argentin
		background-image: url('/img/lang/svg/ar.svg')
	.nigeria
		background-image: url('/img/lang/svg/ng.svg')
	.switz
		background-image: url('/img/lang/svg/ch.svg')
	.serbia
		background-image: url('/img/lang/svg/rs.svg')
	.brazil
		background-image: url('/img/lang/svg/br.svg')
	.costa
		background-image: url('/img/lang/svg/cr.svg')
	.sveden
		background-image: url('/img/lang/svg/se.svg')
	.german
		background-image: url('/img/lang/svg/de.svg')
	.mexico
		background-image: url('/img/lang/svg/mx.svg')
	.koria
		background-image: url('/img/lang/svg/kr.svg')
	.belgia
		background-image: url('/img/lang/svg/be.svg')
	.england
		background-image: url('/img/lang/svg/gb.svg')
	.tunis
		background-image: url('/img/lang/svg/tn.svg')
	.panama
		background-image: url('/img/lang/svg/pa.svg')
	.poland
		background-image: url('/img/lang/svg/pl.svg')
	.columbia
		background-image: url('/img/lang/svg/co.svg')
	.senegal
		background-image: url('/img/lang/svg/sn.svg')
	.japan
		background-image: url('/img/lang/svg/jp.svg')
.aside-main
	display: flex
	flex-wrap: wrap
	margin-top: 20px
@media screen and (min-width: 480px)
	.container-2
		.main-block
			border: 1px solid #e0e0e0
			padding: 20px
		.resalt .pic-lang
			background-size: 80%
@media screen and (min-width: 768px)
	.container-2
		.group
			max-width: 1024px
		.container-tables
			flex-direction: row
			flex-wrap: nowrap
		.border-blocks
			max-width: 5px
			margin: 0 15px
			height: 200px
@media screen and (min-width: 1024px)
	.container-2
		grid-template-columns: 1fr 260px
		.resalt .pic-lang
			background-size: 120%
	.aside-main
		margin-left: 20px
		margin-top: 0
		flex-direction: column
		




