.rating
	border: 1px solid $border
	width: 100%
.nomargin
	margin: 0
	padding: 0
	list-style-type: circle 
.plusandminus, .rating-nomber
	display: none
.booklogo img
	width: 100px
.revu
	min-width: 80px
.book-review-title
	display: flex
	flex-direction: column
.book-review
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 20px
	color: $text-white
	margin: 0 -20px
	background-image: url('/img/fonts/bet.jpg')
	background-size: cover
	background-repeat: norepeat
.book-review-stars
	margin: 20px 0
.fa-star
	color: #ffc647
.book-review-list
	display: flex
	flex-direction: column
	margin-bottom: 20px
.book-review-list span::before
	content: "\f00c"
	font-family: FontAwesome
	margin-right: 5px
	/* style */
.bet-card
	display: flex
	flex-direction: column
	margin: 20px 0 0 0
	justify-content: space-around
	align-items: stretch
.bet-card-item
	position: relative
	text-align: center
	border: 1px solid $border-3
	border-radius: 6px
	width: 100%
	min-height: 80px
	padding: 20px 0
	font-size: 15px
	line-height: 1.375
	color: #222
	font-weight: 500
	margin-bottom: 30px
.bet-card-item:last-of-type
	margin-bottom: 0
.bet-card-item-top
	position: absolute
	left: 0
	right: 0
	margin: 0 auto
	top: -15px
	width: 50px
	height: 30px
	background-color: #fff
.bet-like
	display: inline-block
	width: 25px
	height: 25px
	background-image: url('/img/icons/like.png')
	background-repeat: no-repeat
.rating-card
	padding: 20px
.rating-card-content-wrapper
	padding: 10px 0
.rating-card-item 
	position: relative
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-content: stretch
	align-items: flex-start
	width: 100%
.progress
	display: flex
	height: 5px
	overflow: hidden
	font-size: 0.75rem
	background-color: #e9ecef
	border-radius: 0.25rem
.progress-bar
	display: flex
	align-items: center
	justify-content: center
	color: #fff
	background-color: #7fbf4b
.badge
	display: inline-block
	padding: 0.25em 0.4em
	font-size: 75%
	font-weight: bold
	line-height: 1
	color: #fff
	text-align: center
	white-space: nowrap
	vertical-align: baseline
	border-radius: 0.25rem
.badge-primary
	color: #fff
	background-color: #7fbf4b
.badge-primary[href]:focus, .badge-primary[href]:hover
	color: #fff
	text-decoration: none
	background-color: #0062cc
.book-icon
	color: #7c6ed2
.fa-check
	color: #7fbf4b
.fa-times
	color: #c4c4c4
.last-column-th
	width: 10%
.title-table-book .text-uppercase
	font-size: 13px
.active-border
	border: 2px solid $border-active
	border-radius: 2px
h2.headercol
	font-size: 1.0rem
.headercolclick.active-border::after
	content: "\f0d8" !important
	font-family: FontAwesome
	float: right
.container-collapsible
	border: 1px solid $border-3
	.headercol
		cursor: pointer
		margin: 0
		padding: 20px
	.headercol::after
		content: "\f0d7"
		font-family: FontAwesome
		float: right
		/* style */
	.contentcol
		display: none
		border-top: 1px solid $border-3
		padding: 10px 20px
.book-info
	display: flex
	flex-direction: column
	margin: 20px 0
	.book-info-wrapper
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid $border-3
		i
			margin-right: 20px
			color: $headfoot
.deposit .last-column-th
	display: none
@media screen and (min-width: 480px)
	.plusandminus
		display: table-cell
		text-align: left
		padding: 10px 30px
	.rating-nomber
		display: table-cell
		width: 50px
	.title-table-book .text-uppercase
		font-size: 15px
	.deposit .last-column-th
		display: table-cell
		width: 30%
	.book-info
		flex-direction: row
		flex-wrap: wrap
		.book-info-wrapper
			width: 50%
@media screen and (min-width: 650px)
	.book-review-title
		flex-direction: row
		background-image: url('/img/fonts/bet.jpg')
		background-size: cover
		background-repeat: norepeat
		margin: 0 -20px
	.book-review
		width: 65%
		background-image: none
		margin: 0
	.rating-card
		width: 36%
		background-color: rgba(255, 255, 255, 0.8)
	.book-info
		.book-info-wrapper
			width: 33.3%
@media screen and (min-width: 768px)
	.booklogo img
		width: 150px
	.bet-card-rating-wrapper
		display: flex
	.bet-card, .rating-card
		justify-content: center
	.bet-card
		flex-direction: row
		align-items: stretch
	.bet-card-item
		margin-right: 20px
		margin-bottom: 0
	.bet-card-item:last-of-type
		margin-right: 0	



