.rating
	border: 1px solid $border
	width: 100%
.nomargin
	margin: 0
	padding: 0
	list-style-type: circle 
.plusandminus, .rating-nomber
	display: none
.booklogo img
	width: 100px
.revu
	min-width: 80px
table
    border-spacing: 0
thead 
	background-color: #d8e0e3
	margin: 0
	padding: 0
td
	border-left: 1px solid $border
	text-align: center
	&:first-child
		border-left: none
@media screen and (min-width: 480px)
	.plusandminus
		display: table-cell
		text-align: left
		padding: 10px 30px
	.rating-nomber
		display: table-cell
		width: 50px
@media screen and (min-width: 768px)
	.booklogo img
		width: 150px

