table
	width: 100%
	background-color: transparent
	border-collapse: collapse
	border-spacing: 0
	thead
		th
			vertical-align: bottom
			border-bottom: 2px solid $border
			text-align: left
table
	td, th
		padding: .75rem
		vertical-align: top
		border-top: 1px solid $border
		text-align: left

.table-striped
	tbody
		tr:nth-of-type(odd)
			background-color: rgba(0,0,0,.05)
.thead-inverse th
	color: #fff
	background-color: #212529
.none-xs, .none-s, .none-sm, .none-m
	display: none
.standart-table
	border: 1px solid $border
	tbody tr th
		border: 1px solid $border
		font-weight: 100
		font-size: 14px
	.good-value
		background-color: $good-value
	.standart-value
		background-color: $standart-value
	.bad-value
		background-color: $bad-value
@media screen and (min-width: 380px)
	.none-s
		display: table-cell
@media screen and (min-width: 440px)
	.none-sm
		display: table-cell
@media screen and (min-width: 520px)
	.none-m
		display: table-cell




