.top-zalog
	display: grid
	align-self: start
	margin-bottom: $gutter
	background-color: $zalog
	border: 1px solid $border

.zalog-main
	display: grid
	align-self: start
	margin-bottom: $gutter
	background-color: $zalog
	border: 1px solid $border
	.zalog-item
		display: grid
		grid-template-columns: 60px auto 100px
		align-items: center
		justify-items: stretch
		padding-bottom: 5px 
		border-bottom: 1px solid $border
		&:first-child
			border-top: 1px solid $border
		&:last-child	
			border-bottom: none
		.sport-icon
			background-size: cover
			width: 40px
			height: 40px
			margin-left: 10px
			background-image: url('/img/icons/soccer.svg')
			background-repeat: no-repeat
		.basketball-icon
			background-image: url('/img/icons/basketball.svg')
			background-repeat: no-repeat
		.tennis-icon
			background-image: url('/img/icons/tennis-ball.svg')
			background-repeat: no-repeat
			width: 30px
			height: 30px
		.hockey-icon
			background-image: url('/img/icons/hockey.svg')
			background-repeat: no-repeat
			width: 30px
			height: 30px
		.amfoot-icon
			background-image: url('/img/icons/american-football.svg')
			background-repeat: no-repeat
			width: 30px
			height: 30px
		.volleyball-icon
			background-image: url('/img/icons/volleyball.svg')
			background-repeat: no-repeat
			width: 30px
			height: 30px
		.prognoz
			display: grid
			align-items: center
			text-align: center
			.prognoz-title, .time-prognoz
				color: 
		.kef-prognoz
			justify-self: center
			align-self: center

.zalog-item-title
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	padding: 0
	color: red
	text-align: center
	border-bottom: 1px solid $border
	a:hover, active
		text-decoration: underline
		color: #23527c

	.tipster
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		justify-items: center
		align-items: center
		background-color: $zalog
		border-bottom: 1px solid $border
		border-left: 1px solid $border
		border-right: 1px solid $border
		&:first-child
			border-top: 1px solid $border

.zalog-item
	a
		display: block

@media screen and (min-width: 768px)
	.top-zalog
		grid-column: 1/3

@media screen and (min-width: 1024px)
	.top-zalog
		grid-row: 3/5

	.inside
		grid-row: 1/2

		